@media screen and (max-width:319px) {
    h1{
        font-size: 1.8rem;
        text-align: center;
    }

    .content{
        width: 80%;
    }

    input{
        padding: 0px;
        font-size: 0.8rem;
        width: 80%;
       }

    button{
        width: 20px;
    }

    h2{
        font-size: 1.4rem;
    }
    span{
        font-size: 0.8rem;
    }

}


@media screen and (min-width:320px) and (max-width:468px) {


    h1{
        font-size: 2.2rem;
    }

    .content{
        width: 280px;
    }

    input{
        padding: 0px;
        font-size: 0.9rem;
       }

    button{
        width: 20px;
    }

    h2{
        font-size: 1.5rem;
    }
    span{
        font-size: 0.9rem;
    }


}


@media screen and (min-width:469px) and (max-width:768px) {
    h1{
        font-size: 3.4rem;
    }

    .content{
        width: 400px;
    }

    input{
        padding: 0px;
        font-size: 1rem;
       }

    h2{
        font-size: 2rem;
    }
    span{
        font-size: 1.1rem;
    }
  
}


@media screen and (min-width:1200px){
    h1{
        font-size: 5.1rem;
    }

    .content{
        width: 600px;
    }

    input{
        padding: 5px;
        font-size: 1.3rem;
       }

    h2{
        font-size: 3rem;
    }
    span{
        font-size: 1.3rem;
    }
  
}